Source: flexnbd
Section: unknown
Priority: extra
Maintainer: Alex Young <alex@bytemark.co.uk>
Build-Depends: cdbs, debhelper (>= 7.0.50), ruby, rake, gcc, libev-dev, 
  asciidoc, libxml2-utils, xsltproc, xmlto, check
Standards-Version: 3.8.1
Homepage: http://bigv.io/

Package: flexnbd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libev4 | libev3
Description: FlexNBD server
  An NBD server offering push-mirroring and intelligent sparse file handling

Package: flexnbd-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    flexnbd (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for flexnbd
 An NBD server offering push-mirroring and intelligent sparse file handling
 .
 This package contains the debugging symbols for flexnbd.
